//Imports
@import url('https://fonts.googleapis.com/css?family=BenchNine:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Open+Sans:300i,400,700|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway');
//Variables
@content-bg: #222222;
@content-font-family: @font-family-4;
@content-p-font-size: 10pt;
@content-p-font-color: contrast(@content-bg, #000, #fff);
@content-text-color: contrast(@content-bg, #000, #fff);
@description-font-family: @font-family-5;
@description-button-font: @font-family-3;
@font-family-1: 'BenchNine',
Helvetica,
Arial,
sans-serif;
@font-family-2: 'Open Sans Condensed',
sans-serif;
@font-family-3: 'Raleway',
sans-serif;
@font-family-4: 'Open Sans',
sans-serif;
@font-family-5: 'Roboto',
sans-serif;
@footer-font-family: @font-family-4;
@h2-font-family: @font-family-3;
@h2-font-size: 13px;
@h3-font-family: @font-family-3;
@h3-font-size: 18pt;
@h4-font-family: @font-family-4;
@h4-font-size: 14pt;
@h5-font-family: @font-family-3;
@h5-font-size: 10pt;
@header-bg: #fff;
@header-border-bottom-color: rgba(170,
97,
95,
.3);
@hover-bg: rgba(114,
38,
38,
0.5);
@hover-font: 'Oswald',
sans-serif;
@item-border-color: #bfbfbf;
@item-p-font-family: @font-family-5;
@last-name-text-color: rgb(170,
97,
95);
@mobile-menu-bg: #444;
@name-color: rgb(170,
97,
95);
@nav-bg: none;
@nav-text-color: rgb(170,
97,
95);
@nav-text-color-hover: rgba(114,
38,
38,
0.5);
//Styling
html {
    height: 100%;
}

html,
body {
    font-family: @font-family-1;
    color: contrast(#000, #000, #fff);
    padding: 0;
    margin: 0;
}

header,
nav,
h3,
h4,
h5,
p,
img,
footer {
    display: block;
    padding: 0;
    margin: 0;
}

a {
    color: #ffc0cb;
}

main {
    display: block;
    position: relative;
    margin: 0 auto;
}

h3 {
    font-family: @h3-font-family;
    font-size: @h3-font-size;
    text-transform: uppercase;
    color: rgb(170, 97, 95);
}

h4 {
    font-family: @h4-font-family;
    font-size: @h4-font-size;
    margin: .5vw 0 1vw;
    font-weight: 300;
    font-style: italic;
}

h5 {
    font-family: @h5-font-family;
    font-size: @h5-font-size;
    text-transform: uppercase;
    margin-top: 2vw;
    font-weight: 700;
    color: rgb(170, 97, 95);
}

p {
    margin-bottom: 1vw;
}

header {
    display: inline-flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    border-bottom: 1pt dashed @header-border-bottom-color;
    top: 0;
    background-color: @header-bg;
    color: contrast(@header-bg, black, white);
    margin: 0;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(143,137,143,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(143,137,143,1);
    box-shadow: 0px 0px 10px 0px rgba(143,137,143,1);
    align-items: center;
    
    .logo {
        width: 35px;
        height: auto;
        margin-top: .5vw;
        >a {
            >img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .name {
        font-size: 200%;
        margin: 10px 10px 10px 20px;
        text-transform: uppercase;
        align-content: center;
        a {
            text-decoration: none;
            &:link,
            &:visited,
            &:active {
                color: #000;
            }
        }
        h1 {
            font-size: 30px;
            margin: 0;
            padding: 0;
            font-family: @font-family-2;
        }
        h2 {
            font-size: 13px;
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            font-family: @font-family-3;
        }
        span {
            color: @last-name-text-color;
        }
        sub {
            font-size: 16px;
        }
    }
    >h1 {
        position: relative;
        font-size: 240%;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        padding: .5vw 2vw;
    }
}

nav {
    background-color: @nav-bg;
    color: contrast(@nav-bg, black, white);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    z-index: 3;
}

nav ul {
    margin: 0px;
    padding: 0;
    &.nav-links {
        @media all and (min-width: 701px) {
            display: block;
        }
        @media all and (max-width: 700px) {
            display: none;
        }
    }
}

nav ul li {
    display: inline-block;
    border: 0;
    position: relative;
    margin: 25px 3px;
    outline: none;
    text-align: center;
    background-color: @nav-bg;
    color: contrast(@nav-bg, black, white);
    font-family: @font-family-4;
    font-size: 12px;
    a {
        text-decoration: none;
        text-transform: lowercase;
        letter-spacing: 1px;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        color: @nav-text-color;
        padding: 10px;
        transition: @nav-text-color-hover 0.3s;
        -webkit-transition: @nav-text-color-hover 0.3s;
        -moz-transition: @nav-text-color-hover 0.3s;
        /*&:hover {
            outline: none;
        }*/
        &:before,
        &:after {
            display: inline-block;
            opacity: 0;
            transition: transform .3s, opacity .2s;
            -webkit-transition: -webkit-transform .3s, opacity .2s;
            -moz-transition: -moz-transform .3s, opacity .2s;
        }
        &:before {
            margin-right: 10px;
            content: '[';
            transform: translateX(20px);
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
        }
        &:after {
            margin-left: 10px;
            content: ']';
            transform: translateX(20px);
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
        }
    }
}

@media all and (max-width: 700px) {
    nav ul.nav-open {
        display: block;
        background: #000;
        position: absolute;
        padding: 20px;
        right: 0px;
        top: 45px;
        width: 150px;
        border: 1px dashed #000;
        li {
            width: 100%;
            padding: 10px 0;
            margin: 0;
            text-align: center;
        }
    }
}

.menu {
    color: @mobile-menu-bg;
    position: absolute;
    top: -10px;
    right: 10px;
    padding: 0 20px;
    @media all and (min-width: 701px) {
        display: none;
    }
    @media all and (max-width: 700px) {
        display: block;
    }
}

.container {
    margin: 0 auto;
    position: relative;
    top: 70px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5%;
    background-color: @content-bg;
}

.item {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 20px 20px 0;
    z-index: auto;
    overflow: hidden;
    .description a {
        overflow: hidden;
        transition: all .3s linear;
        &:active,
        &:link,
        &:visited {
            text-decoration: none;
            color: rgb(170, 97, 95);
        }
        & h2 {
            padding-bottom: 5px;
            transition: all .3s linear;
            font-family: @h2-font-family;
            font-size: @h2-font-size;
            font-weight: 700;
            text-transform: uppercase;
        }
        & p {
            font-family: @description-font-family;
            font-weight: 300;
            opacity: 0;
            transition: all .3s linear;
            transform: scale(0);
            color: #000;
        }
    }
    img {
        max-height: 100%;
        max-width: 100%;
        display: block;
        position: relative;
    }
    p {
        position: relative;
        color: #fff;
        padding: 0px 20px 0px;
        text-align: center;
        font-family: @description-font-family;
        font-weight: 300;
        font-size: 15px;
    }
}

.item:not(:nth-child(3)):not(:nth-child(4)) {
    order: 3;
}

.content {
    font-family: @content-font-family;
    position: relative;
    color: @content-text-color;
    max-width: 1280px;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 20px 20px 0;
    display: flex;
    flex-direction: column;
    img.img-responsive.center-img {
        width: 100%;
        height: auto;
        margin-bottom: 2vw;
    }
    p {
        font-size: @content-p-font-size;
        color: @content-p-font-color;
        line-height: 1.5;
    }
    ul li {
        list-style-type: square;
        font-size: 10pt;
    }
    ol li {
        font-size: 10pt;
    }
}

span.notes {
    font-style: italic;
    font-size: 10pt;
}

img.strom {
    width: 70%;
    height: auto;
    border: 1px solid @item-border-color;
    margin-bottom: 20px;
    @media all and (max-width: 700px) {
        width: 100%;
        height: auto;
    }
}

footer {
    text-align: center;
    padding: 0px;
    width: 100%;
    position: relative;
    top: 80px;
    color: #444;
    font-family: @footer-font-family;
    font-size: 10px;
}
