@import url('https://fonts.googleapis.com/css?family=BenchNine:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Open+Sans:300i,400,700|Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  height: 100%;
}
html,
body {
  font-family: 'BenchNine', Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
}
header,
nav,
h3,
h4,
h5,
p,
img,
footer {
  display: block;
  padding: 0;
  margin: 0;
}
main {
  display: block;
  position: relative;
  margin: 0 auto;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  margin: .5vw 0 2vw;
  font-weight: 300;
  font-style: italic;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  text-transform: uppercase;
  margin-top: 2vw;
  font-weight: 700;
}
p {
  margin-bottom: 1vw;
}
header {
  display: inline-flex;
  position: fixed;
  z-index: 99;
  width: 100%;
  border-bottom: 1pt solid rgba(170, 97, 95, 0.3);
  top: 0;
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 5px;
}
header .logo {
  width: 35px;
  height: auto;
  margin-top: .5vw;
}
header .logo > a > img {
  max-width: 100%;
  max-height: 100%;
}
header .name {
  font-size: 200%;
  margin: 10px 10px 10px 2px;
  text-transform: uppercase;
  align-content: center;
}
header .name a {
  text-decoration: none;
}
header .name a:link,
header .name a:visited,
header .name a:active {
  color: #000;
}
header .name span {
  color: #aa615f;
}
header > h1 {
  position: relative;
  font-size: 240%;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: .5vw 2vw;
}
nav {
  background-color: none;
  color: contrast(none, black, white);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
nav ul {
  margin: 0px;
  padding: 0;
}
@media all and (min-width: 701px) {
  nav ul.nav-links {
    display: block;
  }
}
@media all and (max-width: 700px) {
  nav ul.nav-links {
    display: none;
  }
}
nav ul li {
  display: inline-block;
  border: 0;
  position: relative;
  margin: 25px 3px;
  outline: none;
  text-align: center;
  background-color: none;
  color: contrast(none, black, white);
}
nav ul li a {
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  color: #aa615f;
  padding: 10px;
  transition: rgba(114, 38, 38, 0.5) 0.3s;
  -webkit-transition: rgba(114, 38, 38, 0.5) 0.3s;
  -moz-transition: rgba(114, 38, 38, 0.5) 0.3s;
}
nav ul li a:hover {
  outline: none;
}
nav ul li a:before,
nav ul li a:after {
  display: inline-block;
  opacity: 0;
  transition: transform .3s, opacity .2s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
}
nav ul li a:before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
}
nav ul li a:after {
  margin-left: 10px;
  content: ']';
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
}
nav ul li a:focus:before,
nav ul li a:focus:after,
nav ul li a:hover:before,
nav ul li a:hover:after,
nav ul li a.active:before,
nav ul li a.active:after {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
}
@media all and (max-width: 700px) {
  nav ul.nav-open {
    display: block;
    background: #000;
    position: absolute;
    padding: 20px;
    right: 0px;
    top: 67px;
    width: 150px;
    border: 1px solid #000;
  }
  nav ul.nav-open li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    text-align: center;
  }
}
.menu {
  color: #444;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0 20px;
  line-height: 30px;
}
@media all and (min-width: 701px) {
  .menu {
    display: none;
  }
}
@media all and (max-width: 700px) {
  .menu {
    display: block;
  }
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  top: 70px;
}
.container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5%;
  background-color: #fff;
}
@media all and (min-width: 701px) {
  .item {
    position: relative;
    width: 250px;
    height: 150px;
    text-align: center;
    padding: 0;
    margin: 20px 20px 0;
    z-index: auto;
    overflow: hidden;
    background-color: #fff;
  }
  .item .description {
    width: 250px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .3s linear;
  }
  .item .description h2 {
    margin: 25px 30px 10px 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all .3s linear;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  .item .description p {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .item .description p,
  .item .description a {
    opacity: 0;
    transition: all .3s linear;
    transform: scale(0);
    color: #fff;
  }
  .item:hover .description {
    opacity: 1;
    background-color: rgba(170, 97, 95, 0.8);
  }
  .item:hover p,
  .item:hover a {
    transform: scale(1);
    opacity: 1;
  }
  .item:hover h2 {
    border-bottom: 1px solid #ffffff;
    opacity: 1;
  }
  .item img {
    border: 1pt solid #bfbfbf;
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
  }
  .item p {
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
  }
  .item a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
  }
  .item a:hover {
    box-shadow: 0 0 5px #000;
  }
}
@media all and (max-width: 700px) {
  .item {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0;
    margin: 20px 20px 0;
    z-index: auto;
    overflow: hidden;
    background-color: #fff;
  }
  .item .description {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(170, 97, 95, 0.8);
    transform: scale(1);
    transition: all .3s linear;
  }
  .item .description h2 {
    margin: 30px 30px 10px 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    transition: all .3s linear;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
  .item .description p,
  .item .description a {
    opacity: 1;
    color: #fff;
  }
  .item img {
    border: 1pt solid #bfbfbf;
    max-height: 100%;
    max-width: 100%;
    display: block;
    position: relative;
  }
  .item p {
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
  }
  .item a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
  }
}
.content {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #222;
  max-width: 1280px;
  height: auto;
  text-align: left;
  padding: 0;
  margin: 20px 20px 0;
  display: flex;
  flex-direction: column;
}
.content img.img-responsive.center-img {
  width: 100%;
  height: auto;
  margin-bottom: 2vw;
}
.content p {
  font-size: 10pt;
  color: #444;
  line-height: 1.5;
}
img.strom {
  width: 60%;
  height: auto;
  border: 1pt solid #d9d9d9;
}
@media all and (max-width: 700px) {
  img.strom {
    width: 100%;
    height: auto;
  }
}
footer {
  text-align: center;
}
