@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
html {
  font-family: 'BenchNine', Helvetica, Arial, sans-serif;
}
header {
  font-size: 250%;
  font-weight: 700;
  text-transform: uppercase;
  justify-self: center;
  color: black;
}
section {
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 20px;
}
header {
  grid-template-columns: auto-fill;
  grid-template-rows: 50px;
  background-color: #fff;
  color: black;
}
nav {
  grid-template-columns: auto-fill;
  grid-template-rows: 20px;
  background-color: #fff;
  color: black;
}
nav {
  text-align: center;
}
nav ul {
  display: block;
}
nav ul li {
  display: inline-block;
  padding: 2vw;
}
main {
  display: subgrid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 2vw;
  background-color: #444;
}
.box {
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.box:hover .description {
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  transition: .5s ease;
  text-transform: uppercase;
}
div > .box:before,
div > .box:after {
  border-color: #fff;
  border-width: 0;
  border-style: solid;
  transition: all 0.25s;
  content: "";
  height: 50px;
  position: absolute;
  width: 50px;
}
div > .box:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}
div > .box:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}
.description {
  background-color: maroon;
  color: white;
  font-size: 24px;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;
  transition: all 300ms;
  align-items: center;
}
