//Imports
@import url('https://fonts.googleapis.com/css?family=BenchNine:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Open+Sans:300i,400,700|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway');

//Variables
@content-bg: #fff;
@content-font-family: @font-family-4;
@content-p-font-size: 10pt;
@content-p-font-color: #444;
@content-text-color: #222;
@description-font-family: @font-family-5;
@description-button-font: @font-family-3;
@font-family-1: 'BenchNine', Helvetica, Arial, sans-serif;
@font-family-2: 'Open Sans Condensed', sans-serif;
@font-family-3: 'Raleway', sans-serif;
@font-family-4: 'Open Sans', sans-serif;
@font-family-5: 'Roboto', sans-serif;
@footer-font-family: @font-family-4;
@h2-font-family: @font-family-3;
@h3-font-family: @font-family-3;
@h3-font-size: 18pt;
@h4-font-family: @font-family-4;
@h4-font-size: 14pt;
@h5-font-family: @font-family-3;
@h5-font-size: 10pt;
@header-bg: #fff;
@header-border-bottom-color: rgba(170, 97, 95, .3);
@hover-bg: rgba(114, 38, 38, 0.5);
@hover-font: 'Oswald', sans-serif;
@item-border-color: #bfbfbf;
@item-p-font-family: @font-family-5;
@last-name-text-color: rgb(170, 97, 95);
@mobile-menu-bg: #444;
@name-color: rgb(170, 97, 95);
@nav-bg: none;
@nav-text-color: rgb(170, 97, 95);
@nav-text-color-hover: rgba(114, 38, 38, 0.5);

//Styling
html {
    height: 100%;
}

html,
body {
    font-family: @font-family-1;
    color: contrast(#000, #000, #fff);
    padding: 0;
    margin: 0;
}

header,
nav,
h3,
h4,
h5,
p,
img,
footer {
    display: block;
    padding: 0;
    margin: 0;
}

main {
    display: block;
    position: relative;
    margin: 0 auto;
}

h3 {
    font-family: @h3-font-family;
    font-size: @h3-font-size;
    text-transform: uppercase;
}

h4 {
    font-family: @h4-font-family;
    font-size: @h4-font-size;
    margin: .5vw 0 2vw;
    font-weight: 300;
    font-style: italic;
}

h5 {
    font-family: @h5-font-family;
    font-size: @h5-font-size;
    text-transform: uppercase;
    margin-top: 2vw;
    font-weight: 700;
}

p {
    margin-bottom: 1vw;
}

header {
    display: inline-flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    border-bottom: 1pt dashed @header-border-bottom-color;
    top: 0;
    background-color: @header-bg;
    color: contrast(@header-bg, black, white);
    margin: 0;
    padding: 5px 10px;
    .logo {
        width: 35px;
        height: auto;
        margin-top: .5vw;
        >a {
            >img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .name {
        font-size: 200%;
        margin: 10px 10px 10px 2px;
        text-transform: uppercase;
        align-content: center;
        a {
            text-decoration: none;
            &:link,
            &:visited,
            &:active {
                color: #000;
            }
        }
        span {
            color: @last-name-text-color;
        }
    }
    >h1 {
        position: relative;
        font-size: 240%;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        padding: .5vw 2vw;
    }
}

nav {
    background-color: @nav-bg;
    color: contrast(@nav-bg, black, white);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 3;
}

nav ul {
    margin: 0px;
    padding: 0;
    &.nav-links {
        @media all and (min-width: 701px) {
            display: block;
        }
        @media all and (max-width: 700px) {
            display: none;
        }
    }
}

nav ul li {
    display: inline-block;
    border: 0;
    position: relative;
    margin: 25px 3px;
    outline: none;
    text-align: center;
    background-color: @nav-bg;
    color: contrast(@nav-bg, black, white);
    a {
        text-decoration: none;
        text-transform: lowercase;
        letter-spacing: 1px;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        color: @nav-text-color;
        padding: 10px;
        transition: @nav-text-color-hover 0.3s;
        -webkit-transition: @nav-text-color-hover 0.3s;
        -moz-transition: @nav-text-color-hover 0.3s;
        &:hover {
            outline: none;
        }
        &:before,
        &:after {
            display: inline-block;
            opacity: 0;
            transition: transform .3s, opacity .2s;
            -webkit-transition: -webkit-transform .3s, opacity .2s;
            -moz-transition: -moz-transform .3s, opacity .2s;
        }
        &:before {
            margin-right: 10px;
            content: '[';
            transform: translateX(20px);
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
        }
        &:after {
            margin-left: 10px;
            content: ']';
            transform: translateX(20px);
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
        }
        &:focus:before,
        &:focus:after,
        &:hover:before,
        &:hover:after,
        &.active:before,
        &.active:after {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
        }
    }
}

@media all and (max-width: 700px) {
    nav ul.nav-open {
        display: block;
        background: #000;
        position: absolute;
        padding: 20px;
        right: 0px;
        top: 67px;
        width: 150px;
        border: 1px dashed #000;
        li {
            width: 100%;
            padding: 10px 0;
            margin: 0;
            text-align: center;
        }
    }
}

.menu {
    color: @mobile-menu-bg;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0 20px;
    line-height: 30px;
    @media all and (min-width: 701px) {
        display: none;
    }
    @media all and (max-width: 700px) {
        display: block;
    }
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

.container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5%;
    background-color: @content-bg;
}

.item {
    @media all and (min-width: 701px) {
        position: relative;
        width: 350px;
        height: 210px;
        text-align: center;
        padding: 0;
        margin: 20px 20px 0;
        z-index: auto;
        overflow: hidden;
        background-color: #fff;
        .description a {
            width: 350px;
            height: 210px;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            background-color: rgba(170, 97, 95, .7);
            transition: all .3s linear;
            &:active,
            &:link,
            &:visited {
                text-decoration: none;
                color: #fff;
            }
            & h2 {
                margin: 50px 30px 10px 30px;
                padding-bottom: 5px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
                transition: all .3s linear;
                font-family: @h2-font-family;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
            & p {
                font-family: @description-font-family;
                font-weight: 300;
                opacity: 0;
                transition: all .3s linear;
                transform: scale(0);
                color: #fff;
            }
            &:hover p {
                transform: scale(1);
                opacity: 1;
            }
            &:hover h2 {
                margin: 25px 30px 10px 30px;
                border-bottom: 1px solid rgba(255, 255, 255, 1);
                opacity: 1;
            }
        }
        &:hover .description {
            opacity: 1;
            background-color: rgba(170, 97, 95, .9);
        }
        img {
            border: 1pt solid @item-border-color;
            max-height: 100%;
            max-width: 100%;
            display: block;
            position: relative;
        }
        p {
            position: relative;
            color: #fff;
            padding: 0px 20px 0px;
            text-align: center;
            font-family: @description-font-family;
            font-weight: 300;
            font-size: 15px;
        }
    }
}

.item {
    @media all and (max-width: 700px) {
        position: relative;
        width: auto;
        height: auto;
        text-align: center;
        padding: 0;
        margin: 20px 20px 0;
        z-index: auto;
        overflow: hidden;
        background-color: #fff;
        .description a {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            background-color: rgba(170, 97, 95, .9);
            transform: scale(1);
            transition: all .3s linear;
            &:active,
            &:link,
            &:visited {
                text-decoration: none;
                color: #fff;
            }
            h2 {
                margin: 30px 30px 10px 30px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(255, 255, 255, 1);
                transition: all .3s linear;
                font-family: @h2-font-family;
                font-size: 17px;
                font-weight: 400;
                text-transform: uppercase;
            }
            p,
            a {
                opacity: 1;
                color: #fff;
            }
        }
        img {
            border: 1pt solid @item-border-color;
            max-height: 100%;
            max-width: 100%;
            display: block;
            position: relative;
        }
        p {
            position: relative;
            color: #fff;
            padding: 0px 20px 0px;
            text-align: center;
            font-family: @description-font-family;
            font-size: 15px;
            font-weight: 300;
        }
    }
}

.item:nth-child(3) {
    order: 1;
    .description a {
        background-color: rgba(244, 213, 141, .8);
        h2 {
             border-color: rgba(0, 0, 0, .4);
        }
        p{
            color: rgb(0, 0, 0);
        }
    }
    .description a,
    p,
    h2 {
        color: rgba(0, 0, 0, .6);
    }
    @media all and (max-width: 700px) {
        .description a,
        p,
        h2 {
            color: rgb(0, 0, 0);
        }
    }
}

.item:nth-child(4) {
    order: 1;
    .description a {
        background-color: rgba(244, 213, 141, .8);
        h2 {
            border-color: rgba(0, 0, 0, .4);
        }
        p{
        color: rgb(0, 0, 0);
    }
    }
    .description a,
    p,
    h2 {
        color: rgba(0, 0, 0, .6);
    }
    @media all and (max-width: 700px) {
        .description a,
        p,
        h2 {
            color: rgb(0, 0, 0);
        }
    }
}

.item:not(:nth-child(3)):not(:nth-child(4)) {
    order: 3;
}

.content {
    font-family: @content-font-family;
    position: relative;
    color: @content-text-color;
    max-width: 1280px;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 20px 20px 0;
    display: flex;
    flex-direction: column;
    img.img-responsive.center-img {
        width: 100%;
        height: auto;
        margin-bottom: 2vw;
    }
    p {
        font-size: @content-p-font-size;
        color: @content-p-font-color;
        line-height: 1.5;
    }
    ul li {
        list-style-type: square;
        font-size: 10pt;
    }
}

img.strom {
    width: 70%;
    height: auto;
    border: 1pt solid #d9d9d9;
    margin-bottom: 20px;
    @media all and (max-width: 700px) {
        width: 100%;
        height: auto;
    }
}

footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    top: 80px;
    color: #444;
    font-family: @footer-font-family;
    font-size: 10px;
}
